<h2>Import </h2>
<p>Importiert werden Daten aus einer CSV-Datei. Aus der ersten Zeile werden die Spaltennamen ausgelesen.
Anschließend kann entschieden werden, welche Spalten importiert werden.</p>

<form action="/import" enctype="multipart/form-data" method="POST">	
	<input type="file" name="csvupload" accept=".csv">		
	<p></p>
	
	<button type="submit" >Datei hochladen</button>			
</form>

