<h2>Import Auswahl </h2>
<p>Importiert werden Daten aus einer CSV-Datei. Aus der ersten Zeile werden die Spaltennamen ausgelesen.
Anschließend kann entschieden werden, welche Spalten importiert werden.</p>


