h1 {
  letter-spacing: -0.015em;
	line-height: 0px;
	/*line-height: 2.0625;*/
	font-weight: 100;
	font-size:38px;
	text-rendering: optimizelegibility;
	padding-left:20px
}
#h1_top {
  font-size: 40px;
  /*line-height: 80px;*/
  /*background: transparent url(/images/logo.png) 0 0 no-repeat;*/
  /*padding-left: 84px;*/
}

h2 {
	letter-spacing: -0.015em;
	line-height: 0px;
	/*line-height: 2.0625;*/
	font-weight: 100;
	font-size:38px;
	text-rendering: optimizelegibility;
	padding-left:0px
}

h3 {
	padding-left: 20px;
	letter-spacing: -0.015em;
	line-height: 1.0625;
	font-weight: 200;
	font-size:20px;
	text-rendering: optimizelegibility;
}

p{
	/*font: 13px/1.4 Helvetica, Arial, sans-serif;*/
}

body {
	background-color: #fff;
	font-style: normal;
	/*font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";*/
	font-family: sans-serif ;
	font-size: 14px;
	margin: 0; padding: 0;
	
	text-align: center;
}

section {
	padding-left: 20px;
	letter-spacing: -0.015em;
	line-height: 2.0625;
	font-weight: 200;
	font-size:16px;
	text-rendering: optimizelegibility;
	text-align: left;
}

html, body, ul.nav {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

th {
	text-align: center;
	/*padding-left: 20px;*/
	letter-spacing: -0.015em;
	line-height: 1.0625;
	font-weight: bold;
	font-size:16px;
	text-rendering: optimizelegibility;
}

table {
		border-spacing: 0px;
}

td {
	text-align: center;
}

input {
	text-align: center;
	background-color: #fff;
	font-style: normal;
	font-family: sans-serif ;

	letter-spacing: -0.015em;
	line-height: 2.0625;
	font-weight: 200;
	font-size:16px;
	text-rendering: optimizelegibility;
}

ul.nav {
	width: 500px;
	font-weight: bold;
	position: absolute;
	right: 0px;
	top: 40px;
}

ul.nav li {
	margin-right: 2em;
	display: inline;
}

ul.nav a, ul.nav a:visited {
	color: #fff;
	text-decoration: none;
}

ul.nav a:hover {
	color: #BDBDBD;
}

.tablediv { 
		  float: left; 
		  margin: 1cm;
}

#pw_generate {
	position: relative;
	left: 100px;
}
#pw_generate_settings {
	position: relative;
	left: 100px;
	font-style: normal;
	font-family: sans-serif ;

	letter-spacing: -0.015em;
	line-height: 1.5625;
	font-weight: 200;
	font-size:16px;
	text-rendering: optimizelegibility;
}

#pwlength_input {
	/**/
	width: 60px;
	line-height: 1.5625;
	/**/
}

special_characters_input {
	line-height: 1.0625;
}

#topbar		{
	background: rgba(0,0,0,0.6);
	border-bottom: 1px solid #666;
	display: block;
	font-size: 16px;
	padding: 10px 0;
	text-align: left;
	text-decoration: none;
	color: #fff;
}

